<div class="bg-white shadow-md rounded-lg max-w-5xl mx-auto p-6 mt-4" data-controller="order">
  <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Orden de Compra</h2>
  <%= form_with(model: purchase_order, class: "contents") do |form| %>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
      <div>
        <%= form.label :payment_term_id, for: 'floating_supplier_id', class: "block text-sm font-medium text-gray-700 mb-1" %>
        <div class="mt-1 relative rounded-md shadow-sm">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <%= tabler_icon('receipt-dollar', size: '15', class: "text-[#7C5BF3]") %>
          </div>
          <%= form.collection_select :payment_term_id, PaymentTerm.active, :id, :name, { prompt: "Select a payments" }, { id: 'floating_payment_term_id', class: "block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" } %>
        </div>
      </div>
      <div>
        <%= form.label :order_date, class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.date_field :order_date, value: Date.today, class: ["w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", { "border-gray-400 focus:outline-blue-600": purchase_order.errors[:order_date].none?, "border-red-400 focus:outline-red-600": purchase_order.errors[:order_date].any? }] %>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
      <div>
        <%= form.label :supplier_id, for: 'floating_supplier_id', class: "block text-sm font-medium text-gray-700 mb-1" %>
        <div class="mt-1 relative rounded-md shadow-sm">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <%= tabler_icon('tag', size: '15', class: "text-[#7C5BF3]") %>
          </div>
          <%= form.collection_select :supplier_id, Supplier.all, :id, :company_name, { prompt: "Select a supplier" }, { id: 'floating_supplier_id', class: "block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" } %>
        </div>
      </div>

      <div>
        <%= form.label :delivery_date, class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.date_field :delivery_date, class: ["w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", { "border-gray-400 focus:outline-blue-600": purchase_order.errors[:delivery_date].none?, "border-red-400 focus:outline-red-600": purchase_order.errors[:delivery_date].any? }] %>
      </div>
      <div>
        <%= form.label :delivery_address, class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.text_field :delivery_address, class: ["w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", { "border-gray-400 focus:outline-blue-600": purchase_order.errors[:delivery_address].none?, "border-red-400 focus:outline-red-600": purchase_order.errors[:delivery_address].any? }] %>
      </div>
      <div>
        <%= form.label :delivery_city, class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.text_field :delivery_city, class: ["w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", { "border-gray-400 focus:outline-blue-600": purchase_order.errors[:delivery_city].none?, "border-red-400 focus:outline-red-600": purchase_order.errors[:delivery_city].any? }] %>
      </div>
      <div>
        <%= form.label :delivery_postal_code, class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.text_field :delivery_postal_code, class: ["w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", { "border-gray-400 focus:outline-blue-600": purchase_order.errors[:delivery_postal_code].none?, "border-red-400 focus:outline-red-600": purchase_order.errors[:delivery_postal_code].any? }] %>
      </div>
      <div>
        <%= form.label :delivery_province, class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.text_field :delivery_province, class: ["w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", { "border-gray-400 focus:outline-blue-600": purchase_order.errors[:delivery_province].none?, "border-red-400 focus:outline-red-600": purchase_order.errors[:delivery_province].any? }] %>
      </div>
    </div>

    <div class="mb-6">
      <%= form.label :notes, class: "block text-sm font-medium text-gray-700 mb-1" %>
      <%= form.textarea :notes, class: ["w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", { "border-gray-400 focus:outline-blue-600": purchase_order.errors[:notes].none?, "border-red-400 focus:outline-red-600": purchase_order.errors[:notes].any? }] %>
    </div>

    <div class="mb-6">
      <div class="flex justify-between items-center mb-4">
        <h3 class="text-lg font-medium text-gray-800">Productos</h3>
        <button type="button" data-action="click->order#addItem" class="flex items-center px-3 py-2 bg-[#7C5BF3] hover:bg-[#9576F5] text-white rounded-lg focus:outline-none focus:ring-2 ">
          <%= tabler_icon('plus', size: '15', class: "mr-2") %>
          Agregar Producto
        </button>
      </div>

      <div data-order-target="items">
        <%= form.fields_for :order_items do |item_form| %>
          <%= render 'purchase_orders/components/order_item_fields', f: item_form %>
        <% end %>
      </div>

      <template data-order-target="template">
        <%= form.fields_for :order_items, PurchaseOrder.new.order_items.build, child_index: 'NEW_RECORD' do |item_form| %>
          <%= render 'purchase_orders/components/order_item_fields', f: item_form %>
        <% end %>
      </template>
    </div>

    <div class="flex justify-between">
      <%= link_to purchase_orders_path, class: 'flex items-center text-white bg-[#7C5BF3] hover:bg-[#9576F5] rounded-lg p-2' do %>
        Back
      <% end %>
      <%= form.submit class: "rounded-md px-3 py-2 bg-[#7C5BF3] hover:bg-[#9576F5] text-white inline-block font-medium cursor-pointer" %>
    </div>

  <% end %>
</div>
