<div id="<%= dom_id purchase_order %>">
  <tr class="bg-white border-b hover:bg-gray-200">
    <td>
      <%= link_to purchase_order_path(purchase_order),
                  class: "flex px-6 py-4 whitespace-nowrap text-sm font-medium text-indigo-600 hover:text-indigo-800 hover:underline transition duration-200 cursor-pointer" do %>
        <%= tabler_icon('file-text', size: '20', class: 'text-indigo-600 mr-2') %>
        <%= purchase_order.order_number %>
      <% end %>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
      <p class="text-sm font-medium text-gray-900">
        <%= purchase_order.order_date %>
      </p>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
      <%= form_with(url: update_status_purchase_order_path(purchase_order), method: :patch, local: false) do |form| %>
        <%= form.select :status, 
                PurchaseOrder.statuses.keys.map { |status| [status.humanize, status] }, 
                { selected: purchase_order.status }, 
                { onChange: 'this.form.requestSubmit()',
                class: "form-select status-select",
                style: "padding: 8px 12px; border-radius: 4px; border: 1px solid #ccc; background-color: #f8f9fa; font-size: 14px; cursor: pointer; min-width: 150px; box-shadow: 0 1px 3px rgba(0,0,0,0.1);"
          } %>
      <% end %>

    </td>
  </tr>
</div>
