<div id="<%= dom_id purchase_order %>">
  <tr class="bg-white border-b hover:bg-gray-200">
    <td>
      <%= link_to purchase_order_path(purchase_order),
                  class: "flex px-6 py-4 whitespace-nowrap text-sm font-medium text-indigo-600 hover:text-indigo-800 hover:underline transition duration-200 cursor-pointer" do %>
        <%= tabler_icon('file-text', size: '20', class: 'text-indigo-600 mr-2') %>
        <%= purchase_order.order_number %>
      <% end %>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
      <p class="text-sm font-medium text-gray-900">
        <%= purchase_order.order_date %>
      </p>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
      <span class="<%= status_color(purchase_order.status) %> px-2 py-1 rounded-full text-xs">
        <%= purchase_order.status %>
      </span>
    </td>
  </tr>
</div>
