<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
  <div class="md:col-span-2 rounded-lg border border-gray-200 overflow-hidden">
    <div class="flex flex-row items-center justify-between p-4 pb-2">
      <h2 class="text-xl font-semibold">Purchase details</h2>
      <span class="<%= status_color(@purchase_order.status) %> px-2 py-1 rounded-full text-xs">
            <%= @purchase_order.status %>
          </span>
    </div>
    <div class="p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <h3 class="font-semibold text-sm text-gray-500 mb-1">Número de Orden</h3>
          <p><%= @purchase_order.order_number %></p>
        </div>
        <div>
          <h3 class="font-semibold text-sm text-gray-500 mb-1">Terminos de pago</h3>
          <p><%= @purchase_order.payment_term.name %></p>
        </div>
        <div class="flex items-start gap-2">
          <%= tabler_icon('calendar', size: '20', class: "text-gray-500") %>
          <div>
            <h3 class="font-semibold text-sm text-gray-500 mb-1">Fecha de Orden</h3>
            <p><%= @purchase_order.order_date %></p>
          </div>
        </div>
        <div class="flex items-start gap-2">
          <%= tabler_icon('truck', size: '20', class: "text-gray-500") %>
          <div>
            <h3 class="font-semibold text-sm text-gray-500 mb-1">Fecha de Entrega</h3>
            <p><%= @purchase_order.delivery_date %></p>
          </div>
        </div>
        <div class="md:col-span-2">
          <h3 class="font-semibold text-sm text-gray-500 mb-1">Notas</h3>
          <p class="text-sm"> <%= @purchase_order.notes %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="rounded-lg border border-gray-200 overflow-hidden">
    <div class="p-4">
      <h2 class="text-xl font-semibold">Proveedor</h2>
    </div>
    <div class="p-4 space-y-4">
      <div class="flex items-start gap-2">
        <%= tabler_icon('user', size: '20', class: "text-gray-500") %>
        <div>
          <h3 class="font-semibold text-sm text-gray-500 mb-1">Nombre</h3>
          <p><%= @supplier.company_name %></p>
        </div>
      </div>
      <div class="flex items-start gap-2">
        <%= tabler_icon('mail', size: '20', class: "text-gray-500") %>
        <div>
          <h3 class="font-semibold text-sm text-gray-500 mb-1">Contacto</h3>
          <!--              Falta agregar los campos de contacto del proveedor-->
          <p> <%= @supplier.name %></p>
          <p class="text-sm"> <%= @supplier.email %> </p>
        </div>
      </div>
      <div class="flex items-start gap-2">
        <%= tabler_icon('phone', size: '20', class: "text-gray-500") %>
        <div>
          <h3 class="font-semibold text-sm text-gray-500 mb-1">Teléfono</h3>
          <p><%= @supplier.phone %></p>
        </div>
      </div>
      <div class="flex items-start gap-2">
        <%= tabler_icon('map-pin', size: '20', class: "text-gray-500") %>
        <div>
          <h3 class="font-semibold text-sm text-gray-500 mb-1">Dirección</h3>
          <p class="text-sm"><%= @supplier.address %></p>
        </div>
      </div>
    </div>
  </div>
</div>