<div id="<%= dom_id product_stock %>">
  <div class="max-w-6xl mx-auto bg-white rounded-lg shadow-lg overflow-hidden">
    <div class="overflow-x-auto">
      <tr class="border-t border-gray-200">
        <td class="py-3 px-6">
          <div class="flex items-center">
            <%= tabler_icon("package", size: "20", class: "text-[#7C5BF3] mr-2") %>
            <%= product_stock.product.name %>
          </div>
        </td>
        <td class="py-3 px-6"><%= product_stock.product.category.name %></td>
        <td class="py-3 px-6"><%= number_to_currency(product_stock.product.price) %></td>
        <td class="py-3 px-6">
          <div class="flex items-center">
                    <span class="font-medium">
                      <%= product_stock.quantity %>
                    </span>
          </div>
        </td>
      </tr>
    </div>
  </div>
</div>

