<div id="<%= dom_id product %>">
  <tr class="bg-white border-b hover:bg-gray-200">
    <td class="px-6 py-4 whitespace-nowrap">
      <p class="text-sm font-medium text-gray-900">
        <%= product.id %>
      </p>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
      <p class="text-sm font-medium text-gray-900">
        <%= product.name %>
      </p>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
      <p class="text-sm font-medium text-gray-900">
        <%= product.price %>
      </p>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
      <%#= product.product_stock.quantity %>
      <p class="text-sm font-medium text-gray-900">
        <%= product.product_stock&.quantity || "Sin stock" %>
      </p>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
      <p class="text-sm font-medium text-gray-900">
        <%= product.category.name %>
      </p>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
      <%= link_to edit_product_path(product), class: "hover:text-gray-500" do %>
        <%= tabler_icon('edit', size: '20') %>
      <% end %>
    </td>
  </tr>
</div>
