<div id="<%= dom_id supplier %>">
  <div class="w-full bg-white shadow-md rounded-lg p-6 mb-8">
    <div class="flex justify-between items-center mb-3">
      <h1 class="text-3xl font-bold mb-4 text-gray-800"><%= supplier.company_name %></h1>
      <%= link_to supplier, class: "flex items-center justify-center gap-2 px-4 py-2 rounded-lg border border-gray-200 hover:bg-gray-50 transition-colors" do %>
        <%= tabler_icon('users', size: '15') %>
        View contacts
      <% end %>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 text-gray-600">
      <div class="flex items-center space-x-2">
        <%= tabler_icon('phone', size: '20') %>
        <span>3315129273</span>
      </div>
      <div class="flex items-center space-x-2">
        <%= tabler_icon('mail', size: '20') %>
        <span>example@gmail.com</span>
      </div>
      <div class="flex items-center space-x-2">
        <%= tabler_icon('map-pin', size: '20') %>
        <span>torre motormexa periferico</span>
      </div>
    </div>
  </div>
</div>
