<div id="<%= dom_id supplier_contact %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= supplier_contact.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= supplier_contact.last_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= supplier_contact.email %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= supplier_contact.phone %>
  </p>
</div>
